q.content ul,
.content ol {
}

.content b,
.b {
	font-weight: bold;
}

.content strong,
.strong {
	font-weight: bold;
}

.content {
	p, ul, ol, li {
		&:not(:first-child) {
			margin-top: 28rem;
		}
		span {
			font-weight: normal;
		}
	}

	@include large-mobile {
		p, ul, ol, li {
			&:not(:first-child) {
				margin-top: 16rem;
			}
		}
	}
}

.content {
	ol {
		margin-left: 28rem;
	}
}

.small {
	font-size: 16rem;
	line-height: 140%;

	@include large-mobile {
		font-size: 14rem;
	}
}

.h1,
.content h1,
.h2,
.content h2,
.h3,
.content h3,
.h4,
.content h4,
.h5,
.content h5,
.h6,
.content h6 {
	font-family: 'Forum';
	font-weight: normal;
}

.h1,
.content h1 {
	font-size: 144rem;
	line-height: 90%;

	@include small-tablet {
		font-size: 86rem;
	}

	@include large-mobile {
		font-size: 62rem;
	}
	
}

.h2,
.content h2 {
	font-size: 96rem;
	line-height: 120%;

	@include large-mobile {
		font-size: 34rem;
	}
}

.h3,
.content h3 {
	font-size: 48rem;
	line-height: 120%;
	@include large-mobile {
		font-size: 28rem;
	}
}

.h4,
.content h4 {
	font-size: 40rem;
	line-height: 90%;
	@include large-mobile {
		font-size: 28rem;
	}
}

.h5,
.content h5 {
	font-size: 24rem;
	line-height: 120%;

	@include large-mobile {
		font-size: 18rem;
	}
}

.h6,
.content h6 {
}