+b.SECTION.services
	+e.wrap.wrap
		+e.H2.title.h2 Наши услуги
		+e.desc
			| Занимаемся выкупом, продажей и оценкой сумок Hermes 12 лет и зарекомендовали себя как надежных партнеров, которые предлагают выгодные условия.
		+e.inner
			+e.row
				+e.column._left
					+e.number No. 1
					+e.name.h3 Экспертиза
				+e.column._right
					+e.text
						| Мы проводим быструю экспертизу сумок Hermes перед тем, как выкупим ее у вас. Это нужно чтобы гарантировать подлинность и озвучить точную цену покупки.
			+e.row
				+e.column._left
					+e.number No. 2
					+e.name.h3 Выкуп сумок
				+e.column._right
					+e.text
						| Если вам необходимы в кротчайшие наличные, можно продать сумку Hermes Birkin. Мы дорого покупаем произведение французского искусства.
			+e.row
				+e.column._left
					+e.number No. 3
					+e.name.h3 Экспертиза
				+e.column._right
					+e.text
						| В случае, когда вам срочно нужны деньги, но вы не хотите навсегда избавляться от дорогой сумки Hermes, заложите ее сроком от одного дня до одного месяца.
