+b.SECTION.similar-articles
	+e.wrap.wrap
		+e.H2.title.h3 читайте другие статьи
		+e.list.flex
			+e.A.item.item-post__(href="#")
				+e.preview
					img.object-fit(src="/img/item-post__img4.jpg")
				+e.title.h5 Идеальный подарок для себя и близкой подруги: 5 модных сумок зимы 2021/2022
				+e.date 13 сентября
			+e.A.item.item-post__(href="#")
				+e.preview
					img.object-fit(src="/img/item-post__img5.jpg")
				+e.title.h5 Кража века в США: украдены редкие сумки Hermes
				+e.date 13 сентября
			+e.A.item.item-post__(href="#")
				+e.preview
					img.object-fit(src="/img/item-post__img6.jpg")
				+e.title.h5 «Эффект COVID-19» настиг Hermes Birkin
				+e.date 13 сентября
		