+b.SECTION.section-contact
	+e.wrap.wrap
		+e.head.flex._justify._bottom
			+e.column._left
				+e.H2.title.h2 Контакты
				+e.desc
					| Мы расположились в самом центре столицы и работаем для вас. Уютнытный и безопасный офис и частная парковка всегда к вашим услугам. Ждем вас.
			+e.column._right
				+e.A.btn(href="#")
					+icon('next')
		+e.list
			+e.item
				+e.label Телефон
				+e.text.h3
					a(href="tel:+74959244152") +7 495 924 41 52
			+e.item
				+e.label E-mail
				+e.text.h3
					a(href="mailto:zakaz@sumki-hermes.ru") zakaz@sumki-hermes.ru
			+e.item
				+e.label Адрес
				+e.text.h3 г. Москва, Коробейников пер., д.1