+b.SECTION.main
	+e.wrap.wrap
		+e.row
			+e.column._left
				+e.top
					+e.top-item.is-active.js-main-item
						+e.category.color-orange Hermes
						+e.title.h1 Birkin 35
						+e.price $ 8 400 
					+e.top-item.js-main-item
						+e.category.color-orange Hermes
						+e.title.h1 Birkin 2
						+e.price $ 3 499 
					+e.top-item.is-active.js-main-item
						+e.category.color-orange Hermes
						+e.title.h1 Birkin 35
						+e.price $ 8 400 
					+e.top-item.js-main-item
						+e.category.color-orange Hermes
						+e.title.h1 Birkin 2
						+e.price $ 3 499 
				+e.bottom
					+e.desc
						| Самый большой выбор сумок Hermes в России. 
						br
						| Скупка на выгодных условиях. 
						br
						| Быстро, надежно, дорого.
					+btn В каталог
			+e.column._right
				+swiper-navigation
				+e.slider.swiper-container.js-slider#main
					.swiper-wrapper
						+e.slide.swiper-slide
							+e.item
								+e.item-info
									+e.category.color-orange Hermes
									+e.title.h1 Birkin 35
									+e.price $ 8 400 
								+e.img
									+e.img-bg
									img(src="/img/main__img1.png")
						+e.slide.swiper-slide
							+e.item
								+e.item-info
									+e.category.color-orange Hermes
									+e.title.h1 Birkin 2
									+e.price $ 3 499 
								+e.img
									+e.img-bg
									img(src="/img/main__img2.png")
						+e.slide.swiper-slide
							+e.item
								+e.item-info
									+e.category.color-orange Hermes
									+e.title.h1 Birkin 35
									+e.price $ 8 400 
								+e.img
									+e.img-bg
									img(src="/img/main__img1.png")
						+e.slide.swiper-slide
							+e.item
								+e.item-info
									+e.category.color-orange Hermes
									+e.title.h1 Birkin 2
									+e.price $ 3 499 
								+e.img
									+e.img-bg
									img(src="/img/main__img2.png")
				+e.counter.swiper-counter
					span.swiper-counter-current 01
					span  /
					span.swiper-counter-length
		+e.content
			+e.desc
				| Самый большой выбор сумок Hermes в России. 
				| Скупка на выгодных условиях. 
				br
				| Быстро, надежно, дорого.
			+btn В каталог