+b.SECTION.product
	+e.wrap.wrap._big
		+e.row.flex._justify
			+e.column._left.flex._justify
				+e.thumbnails
					+e.thumbnails-item.js-product-thumb.is-active
						img(src="/img/products__img1.png")
					+e.thumbnails-item.js-product-thumb
						img(src="/img/products__img2.png")
					+e.thumbnails-item.js-product-thumb
						img(src="/img/products__img3.png")
					+e.thumbnails-item.js-product-thumb
						img(src="/img/products__img4.png")
				+e.slider
					+e.slide.js-product-img.is-active
						img(src="/img/products__img1.png")
					+e.slide.js-product-img
						img(src="/img/products__img2.png")
					+e.slide.js-product-img
						img(src="/img/products__img3.png")
					+e.slide.js-product-img
						img(src="/img/products__img4.png")
			+e.column._right
				+e.H1.title.h4 HERMES BIRKIN 35 CROCODILE
				+e.prices.flex
					+e.price._old 8 400 $
					+e.price.color-orange 30 000 $
				+btn(class="js-modal" href="#buy") Купить
				+e.feature.feature__
					+e.row
						+e.column._left Бренд:
						+e.column._right Hermes
					+e.row
						+e.column._left Состояние:
						+e.column._right Идеальное состояние
					+e.row
						+e.column._left Комплектация:
						+e.column._right Не полный комплект
					+e.row
						+e.column._left Наличие:
						+e.column._right В наличии
					+e.row
						+e.column._left Референс:
						+e.column._right Kelly
					+e.row
						+e.column._left Цвет:
						+e.column._right Черный
					+e.row
						+e.column._left Материал:
						+e.column._right Кожа крокодила
				+e.desc
					span.color-gray Описание:
					br
					| Это тот аксессуар о котором мечтает каждая модница, каждая модель изготавливается вручную из кожи высшего качества, фурнитура из благородных металлов. Позволить такую роскошь может не каждый.

		