.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	color: #ECE9E3;
	padding: 0 20rem;
	transition: ease .2s;
	background: $black;
	height: 60rem;
	font-size: 16rem;
	line-height: 110%;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-family: 'Montserrat';

	&:hover {
		background: #444444;
	}

	&:active {
		background: $orange;
	}

	&_small {
		height: 30rem;
		font-size: 12rem;
		font-weight: 500;
	}

	@include large-mobile {
		height: 50rem;
		font-size: 14rem;
		&_small {
			height: 30rem;
			font-size: 12rem;
			font-weight: 500;
		}
	}
}