.item-product {
	display: block;
	font-size: 16rem;
	line-height: 120%;
	font-weight: normal;

	&_big {
		.item-product {
			&__preview {
				height: 460rem;
			}
		}

		@include large-tablet {
			.item-product {
				&__preview {
					height: 340rem;
				}
			}
		}
	}

	&__preview {
		display: block;
		position: relative;
		height: 408rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30rem;
		background: #F8F5EF;
		img {
			max-height: 336rem;
			mix-blend-mode: darken;
		}

		@include large-tablet {
			height: 340rem;
			padding: 20rem;
			img {
				max-height: 300rem;
			}
		}
	}

	&__name {
		margin-top: 24rem;
		display: block;

		@include large-mobile {
			margin-top: 20rem;
		}
	}

	&__prices {
		margin-top: 10rem;
		letter-spacing: -0.04em;
		color: #444444;
	}
	&__price {
		&:not(:last-child) {
			margin-right: 17rem;
		}
	}
}