extends ../layouts/base

append vars
	- title = 'About';

block content
	.wrap
		+b.breadcrumbs
			+e.UL.list.flex._center
				+e.LI.item
					+e.A.link(href="#") Главная
				+e.LI.item Услуги
	+b.SECTION.about
		+e.wra.wrap
			+e.H1.title.h3 О компании
		+e.preview
			img(src="/img/about__preview.jpg")
		+e.wrap.wrap._small
			+e.content.content
				h2 Салон сумок Hermes
				p
					| Мы расположились в самом центре столицы. В штате компании работают эксперты, которые помогут определить подлинность и стоимость конкретной сумки, которую вы пожелаете продать. Работая на рынке с 2006 года, мы успели зарекомендовать себя как надежного партнера и первоклассного специалиста в области сумок Hermes.
				p
					| Доверяйте профессионалам, которые точно знают: качество и роскошь французских сумок подделать невозможно.
			+e.att
				| мы занимаемся исключительно оригинальными сумками Hermes
			+e.sell
				+e.row.flex._justify
					+e.column._left
						+e.img._small
							img(src="/img/about__img1.jpg")
					+e.column._right
						+e.desc
							+e.H2.desc-title.h4
								| Продажа и выкуп сумок Hermes
							+e.H2.desc-text.content
								p
									| Клиенты, ориентированные на приобретение сумки известного бренда гарантированно получат подлинник. Каждая сумка комплектуется обязательной документацией, подтверждающей, что это именно Hermes.
								p
									| Если у вас есть поддержанная сумка Hermes и вы хотите ее продать, обращайтесь к нам. Мы предложим высокие цены на качественный и оригинальный продукт.
								p
									| Проведенная экспертиза установит модель сумки, сохранность, наличие и отсутствие повреждений. Мы гарантируем вам высокую цену, поскольку сами заинтересованы в получении настоящей сумки Hermes.
		+e.hermes
			+e.wrap.wrap._small
				+e.row.flex._justify
					+e.column._left
						+e.desc
							+e.headline Hermes
							+e.H2.desc-title.h3
								| Сумки Hermes
							+e.H2.desc-text.content
								p
									| Каждая сумка Hermes — настоящее произведение искусства, которое невозможно подделать. Это надежный и качественный продукт, который к тому же выглядит невообразимо привлекательно.
								p
									| Рожденные во Франции, сумки Hermes быстро превратились в желаемый атрибут многих людей. С ними ходили девушки Джеймса Бонда, появлялись на людях кинодивы, о них желали миллионы женщин по всему миру.
							+btn(class="js-modal" href="#buy") купить сумку
					+e.column._right
						+e.img
							+e.img-wrap
								img(src="/img/about__img2.jpg")
							+e.img-wrap
								img(src="/img/about__img3.jpg")
		+e.how
			+e.wrap.wrap._small
				+e.row.flex._vertical._justify
					+e.column._left
						+e.img.flex._right
							+e.img-box
								img(src="/img/about__img4.png")
					+e.column._right
						+e.desc._big
							+e.H2.desc-title.h3
								| Как продать сумку
							+e.H2.desc-text.content
								ol
									li Посетите наш офис в центре Москвы вместе с сумкой.
									li Отдайте ее на экспертизу соответствующему специалисту.
									li Дождитесь конца экспертизы.
									li Согласитесь на предложенную сумму.
							+e.text
								| Процедура занимает немного времени, а клиенту 
								br
								| предлагается гарантированно высокая цена.
							+btn(class="js-modal" href="#online") Продать сумку
		+e.search
			+e.wrap.wrap._small
				+e.row.flex._justify
					+e.column._left
						+e.desc
							+e.headline Поиск
							+e.H2.desc-title.h3
								| Сумки Hermes
							+e.H2.desc-text.content
								p
									| Мы подготовили удобный поиск, по которому вы всегда сможете отыскать наиболее предпочтительный товар.
								p
									| Внимательно изучите характеристики сумок, выберете подходящую и воспользуйтесь интуитивно понятной формой онлайн заказа.
								p
									| Другой способ купить сумку Hermes — посетить наш офис в центре столицы. У нас трудятся мастера и ценители французских сумок, которые всегда подскажут наиболее подходящую сумку и помогут определиться с тем, какая подходит к определенному случаю.
							+btn(href="/catalog.html") к поиску
					+e.column._right
						+e.img
							img(src="/img/about__img5.png")
