extends ../layouts/base

append vars
	- title = 'Article';

block content
	.wrap
		+b.breadcrumbs
			+e.UL.list.flex._center
				+e.LI.item
					+e.A.link(href="#") Главная
				+e.LI.item
					+e.A.link(href="#") Новости
				+e.LI.item Модель Hermеs Birkin стала самой популярной сумкой в Instagram
	+b.article
		+e.wra.wrap
			+e.head
				+e.H1.title.h3 Модель Hermеs Birkin стала самой популярной сумкой в Instagram
				+e.line
				+e.date 17 января, 2022
		+e.preview
			img(src="/img/post__img1.jpg")
		+e.wra.wrap
			+e.content
				section
					p
						| Hermes - сумки культовые и статусные. Это больше, чем просто аксессуар, свидетельствующий о высоком положении владельца в обществе. Это еще и стильная инвестиция, которую можно передать по наследству, выгодно продать на аукционе или хранить как коллекционный экземпляр.
				section
					h2 Роскошь на века
					p
						| Бизнес Hermes начался во Франции в 1837 году с изготовления конской сбруи. В 1880 году к ассортименту фирмы добавились седла, и только в ХХ веке - сумки. Во главе угла для компании всегда стояли такие качества, как прочность и долговечность. Кожаные сумки Hermes можно передавать из поколения в поколение, не волнуясь насчет износа. Даже если через много лет кожа изделия потрется - это будет не изъян, а благородная винтажная потертость, которая только украсит аксессуар.
					p
						| Надо заметить, что винтажные сумки Hermes зачастую стоят дороже новых - особенно если речь идет об изделиях, выполненных по индивидуальному заказу, или отделанных драгоценными камнями и благородными металлами. Очереди на покупку таких сумок ничуть не меньше, чем на приобретение только что изготовленных аксессуаров.
				section
					figure
						img(src="/img/post__img2.jpg")
						figcaption Hermès 2015 Kelly Retourné 32 Bag - White Color
				section
					p
						| В нашем автоматизированном мире главной роскошью стали изделия, изготовленные вручную. Этим, отчасти, и объясняется премиальная цена Birkin и Kelly: над каждым стежком мастера трудятся по старинке, с иглой в руках. Швейная машинка не способна на ту технику, которую сумки Hermes унаследовали от лошадиных седел. Нюанс заключается в том, что один и тот же шов прошивается одновременно двумя иголками. 
						br
						| Это трудоемкий процесс, который требует от мастера огромного опыта. 
						br
						| На изготовление одной сумки даже у самого квалифицированного сотрудника Hermes уходит не менее 40 часов.
					p
						| Надо заметить, что винтажные сумки Hermes зачастую стоят дороже новых - особенно если речь идет об изделиях, выполненных по индивидуальному заказу, или отделанных драгоценными камнями и благородными металлами. Очереди на покупку таких сумок ничуть не меньше, чем на приобретение только что изготовленных аксессуаров.
				section
					figure
						img(src="/img/post__img3.jpg")
						figcaption Модель Birkin пользуется повышенным спросом в расцветке “голубой сапфир”
				section
					h2 Роскошь на века
					p
						| Окрашивание натуральной кожи - процесс чрезвычайно деликатный. Особенно трудно получить качественные оттенки красного: алый, пурпурный, бордовый. Hermes освоили широчайшую палитру оттенков и выпускают продукцию всех цветов радуги.

					p
						| На аукционах и при перепродажах через магазины винтажа рекордных ценовых показателей достигают аксессуары розовых оттенков в частности, “розовая сакура” и “розовые конфетти”. Они особенно выигрышно смотрятся на компактных сумочках вроде Kelly 25 или Kelly Pochette. Глубину и благородство сине-голубых тонов в исполнении Hermes тоже трудно воспроизвести. 
					p
						| Модель Birkin, например, пользуется повышенным спросом в расцветке “голубой сапфир”. Ну а что касается непосредственно красного, Hermes еще в прошлом веке разработали собственный уникальный оттенок Rouge H - аксессуары такого цвета с тех пор считаютсянаходкой для коллекционеров.
	include ../sections/section-similar-articles