extends ../layouts/base

append vars
	- title = 'Home';

block content
	include ../sections/section-main
	include ../sections/section-similar-products
	include ../sections/section-services
	+b.banner-bags
		+e.img
			img(src="/img/banner-bags__bg.png")
		+e.column._right
			+e.H2.title.h2 Сумки Hermes
			+e.content.content
				p
					| Работая на рынке с 2006 года, мы успели зарекомендовать себя как надежного партнера и первоклассного специалиста в области сумок Hermes.
		+e.column._left
			+e.content.content
				p
					| Мы расположились в самом центре столицы и работаем для Вас!
				p
					| В штате компании работают эксперты, которые быстро и максимально точно помогут определить подлинность и стоимость конкретной сумки, которую пожелаете продать.
			+btn Подробнее
	+b.banner-hermes
		+e.line._white
		+e.line._black
		+e.preview
			img.object-fit(src="/img/banner-hermes.jpg")
		+e.logo
			img(src="/app/img/logo_white.svg")
	include ../sections/section-sell-bag
	+b.auth
		+e.column._left
			+e.img
				img.object-fit(src="/img/auth__img.jpg")
		+e.column._right
			+e.content
				+e.H2.title.h3
					| Аутентификация сумок Hermes
				+e.text
					| Bababebi - это независимая служба аутентификации, которая дает заключения о подлинности сумок Hermès, не связаная с Hermès и не спонсируется ею, но  имеющаяя огромный авторитет в мире оценки.
				+btn(href="#online" class="js-modal") Продать сумку
	include ../sections/section-contact
	+b.map.js-map#map