extends ../layouts/base

append vars
	- title = 'News';

block content
	.wrap
		+b.breadcrumbs
			+e.UL.list.flex._center
				+e.LI.item
					+e.A.link(href="#") Главная
				+e.LI.item Новости
	+b.SECTION.news
		+e.wra.wrap
			+e.H1.title.h4 Новости & Обзоры
			+e.inner
				+e.section
					+e.list.flex
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img1.jpg")
							+e.title.h5 Какие бывают коллекции сумок Hermes?
							+e.date 16 июня
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img2.jpg")
							+e.title.h5 В чем уникальность сумок Hermes?
							+e.date 30 июня
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img3.jpg")
							+e.title.h5 Сумка Hermes — мечта любой женщины
							+e.date 7 августа
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img4.jpg")
							+e.title.h5 Модель Hermеs Birkin стала самой популярной сумкой в Instagram
							+e.date 13 сентября
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img5.jpg")
							+e.title.h5 Модель Именные сумки: что покупать кроме Hermès Birkin
							+e.date 13 сентября
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img6.jpg")
							+e.title.h5 Как зарабатывают на редких сумках
							+e.date 13 сентября
					+e.lines.flex
						+e.line
						+e.line
				+e.section
					+e.list.flex
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img1.jpg")
							+e.title.h5 Какие бывают коллекции сумок Hermes?
							+e.date 16 июня
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img2.jpg")
							+e.title.h5 В чем уникальность сумок Hermes?
							+e.date 30 июня
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img3.jpg")
							+e.title.h5 Сумка Hermes — мечта любой женщины
							+e.date 7 августа
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img4.jpg")
							+e.title.h5 Модель Hermеs Birkin стала самой популярной сумкой в Instagram
							+e.date 13 сентября
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img5.jpg")
							+e.title.h5 Модель Именные сумки: что покупать кроме Hermès Birkin
							+e.date 13 сентября
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img6.jpg")
							+e.title.h5 Как зарабатывают на редких сумках
							+e.date 13 сентября
					+e.lines.flex
						+e.line
						+e.line
				+e.section
					+e.list.flex
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img1.jpg")
							+e.title.h5 Какие бывают коллекции сумок Hermes?
							+e.date 16 июня
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img2.jpg")
							+e.title.h5 В чем уникальность сумок Hermes?
							+e.date 30 июня
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img3.jpg")
							+e.title.h5 Сумка Hermes — мечта любой женщины
							+e.date 7 августа
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img4.jpg")
							+e.title.h5 Модель Hermеs Birkin стала самой популярной сумкой в Instagram
							+e.date 13 сентября
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img5.jpg")
							+e.title.h5 Модель Именные сумки: что покупать кроме Hermès Birkin
							+e.date 13 сентября
						+e.A.item.item-post__(href="#")
							+e.preview
								img.object-fit(src="/img/item-post__img6.jpg")
							+e.title.h5 Как зарабатывают на редких сумках
							+e.date 13 сентября
					+e.lines.flex
						+e.line
						+e.line
			