+b.HEADER.header
	+e.wrap.wrap
		+e.top
			+e.row.flex._vertical._justify
				+e.column._left.flex._vertical
					+e.A.email.color-gray(href="mailto:zakaz@sumki-hermes.ru") zakaz@sumki-hermes.ru
					+e.select.select__._default.desktop.js-select
						input.js-select-input(name="currency" value="Рубли" type="hidden")
						+e.head.js-select-head
							+e.title
								+e.label.js-select-label Рубли
							+e.arrow
								+icon('dropDown')
						+e.body._small
							+e.list
								+e.item.js-select-item.is-active(data-value="Рубли")
									+e.item-text Рубли
									+e.item-icon
										+icon('check')
								+e.item.js-select-item(data-value="Доллары")
									+e.item-text Доллары
									+e.item-icon
										+icon('check')
								+e.item.js-select-item(data-value="Евро")
									+e.item-text Евро
									+e.item-icon
										+icon('check')
				+e.column._center.flex._center
					+e.A.logo(href="#")
						img(src="/app/img/logo.svg")
				+e.column._right.flex._vertical._right
					div
					+e.select.select__._default.mobile.js-select
						input.js-select-input(name="currency" value="Рубли" type="hidden")
						+e.head.js-select-head
							+e.title
								+e.label.js-select-label Рубли
							+e.arrow
								+icon('dropDown')
						+e.body._small
							+e.list
								+e.item.js-select-item.is-active(data-value="Рубли")
									+e.item-text Рубли
									+e.item-icon
										+icon('check')
								+e.item.js-select-item(data-value="Доллары")
									+e.item-text Доллары
									+e.item-icon
										+icon('check')
								+e.item.js-select-item(data-value="Евро")
									+e.item-text Евро
									+e.item-icon
										+icon('check')
					+e.LABEL.search-btn.mobile.js-show-search(for="search")
						+icon('search')
					+e.FORM.search.form-search__.mobile.js-search(action="")
						+e.BUTTON.btn
							+icon('search')
						+e.INPUT.input(placeholder="Поиск" name="search" id="search")
						+e.close.js-close-search
							+e.close-line
							+e.close-line
					+e.A.phone(href="tel:+74959244152")
						+e.phone-icon
							svg(viewBox='0 0 24 25' xmlns='http://www.w3.org/2000/svg')
								path(d='M19.8098 4.16569C17.7198 2.14539 14.9698 1.00415 12.0411 1.00415C3.63538 1.00415 -1.64272 10.1111 2.55465 17.3554L1 23.0039L6.80701 21.4896C9.33698 22.8563 11.4095 22.7353 12.0466 22.816C21.7934 22.816 26.6453 11.0241 19.796 4.20144L19.8098 4.16569Z' fill='#AFAFAE')
								path(d='M12.0613 20.9423L12.0558 20.9414H12.0411C9.12429 20.9414 7.26073 19.56 7.0774 19.4802L3.63995 20.374L4.56118 17.0328L4.3421 16.689C3.43461 15.2444 2.95245 13.5806 2.95245 11.8674C2.95245 3.80725 12.8019 -0.223279 18.5017 5.47373C24.1877 11.1112 20.1957 20.9423 12.0613 20.9423Z' fill='#ECE9E3')
								path(d='M17.0473 14.1186L17.0391 14.1873C16.7632 14.0498 15.4194 13.3926 15.1691 13.3018C14.6072 13.0937 14.7658 13.2688 13.6869 14.5045C13.5265 14.6832 13.367 14.697 13.0947 14.5732C12.8197 14.4357 11.937 14.147 10.892 13.212C10.078 12.4832 9.53169 11.5895 9.37036 11.3145C9.10178 10.8507 9.66369 10.7847 10.1752 9.8167C10.2668 9.6242 10.2201 9.47295 10.1523 9.33637C10.0835 9.19887 9.53627 7.85139 9.30711 7.31423C9.08711 6.7789 8.8607 6.84673 8.69112 6.84673C8.16312 6.8009 7.77721 6.80823 7.43713 7.16206C5.95765 8.78821 6.33073 10.4657 7.59663 12.2495C10.0844 15.5055 11.4099 16.105 13.8336 16.9373C14.488 17.1454 15.0848 17.116 15.5569 17.0482C16.083 16.9648 17.1766 16.3873 17.4048 15.741C17.6386 15.0948 17.6386 14.5586 17.5698 14.4348C17.502 14.3111 17.3223 14.2423 17.0473 14.1186Z' fill='#AFAFAE')

						+e.phone-text +7 495 924 41 52
					+e.burger.js-burger
						+e.burger-line
						+e.burger-line
						+e.burger-line
		+e.bottom
			+e.row.flex._vertical._justify
				+e.column._left.flex._vertical
					+e.title МЕНЮ
				+e.column._center.flex._center
					+e.UL.nav.flex
						+e.LI.nav-item
							+e.A.nav-link(href="#")
								+e.nav-text Каталог
								+e.nav-circle
						+e.LI.nav-item
							+e.A.nav-link(href="#")
								+e.nav-text Услуги
									+e.nav-circle
						+e.LI.nav-item
							+e.A.nav-link(href="#")
								+e.nav-text О компании
									+e.nav-circle
						+e.LI.nav-item
							+e.A.nav-link(href="#")
								+e.nav-text Новости
									+e.nav-circle
						+e.LI.nav-item
							+e.A.nav-link(href="#")
								+e.nav-text Контакты
									+e.nav-circle
				+e.column._right.flex._right
					+e.FORM.search.form-search__(action="")
						+e.LABEL.btn(for="search")
							+icon('search')
						+e.INPUT.input(placeholder="Поиск" name="search" id="search")
	+e.mobile.js-mobile
		+e.mobile-top
			+e.UL.nav
				+e.LI.nav-item
					+e.A.nav-link(href="#") Каталог
				+e.LI.nav-item
					+e.A.nav-link(href="#") Услуги
				+e.LI.nav-item
					+e.A.nav-link(href="#") О компании
							+e.nav-circle
				+e.LI.nav-item
					+e.A.nav-link(href="#") Новости
				+e.LI.nav-item
					+e.A.nav-link(href="#") Контакты
		+e.mobile-bottom
			+e.contact
				+e.contact-item
					+e.A.phone(href="tel:+74959244152")
						+e.phone-icon
							svg(viewBox='0 0 24 25' xmlns='http://www.w3.org/2000/svg')
								path(d='M19.8098 4.16569C17.7198 2.14539 14.9698 1.00415 12.0411 1.00415C3.63538 1.00415 -1.64272 10.1111 2.55465 17.3554L1 23.0039L6.80701 21.4896C9.33698 22.8563 11.4095 22.7353 12.0466 22.816C21.7934 22.816 26.6453 11.0241 19.796 4.20144L19.8098 4.16569Z' fill='#AFAFAE')
								path(d='M12.0613 20.9423L12.0558 20.9414H12.0411C9.12429 20.9414 7.26073 19.56 7.0774 19.4802L3.63995 20.374L4.56118 17.0328L4.3421 16.689C3.43461 15.2444 2.95245 13.5806 2.95245 11.8674C2.95245 3.80725 12.8019 -0.223279 18.5017 5.47373C24.1877 11.1112 20.1957 20.9423 12.0613 20.9423Z' fill='#ECE9E3')
								path(d='M17.0473 14.1186L17.0391 14.1873C16.7632 14.0498 15.4194 13.3926 15.1691 13.3018C14.6072 13.0937 14.7658 13.2688 13.6869 14.5045C13.5265 14.6832 13.367 14.697 13.0947 14.5732C12.8197 14.4357 11.937 14.147 10.892 13.212C10.078 12.4832 9.53169 11.5895 9.37036 11.3145C9.10178 10.8507 9.66369 10.7847 10.1752 9.8167C10.2668 9.6242 10.2201 9.47295 10.1523 9.33637C10.0835 9.19887 9.53627 7.85139 9.30711 7.31423C9.08711 6.7789 8.8607 6.84673 8.69112 6.84673C8.16312 6.8009 7.77721 6.80823 7.43713 7.16206C5.95765 8.78821 6.33073 10.4657 7.59663 12.2495C10.0844 15.5055 11.4099 16.105 13.8336 16.9373C14.488 17.1454 15.0848 17.116 15.5569 17.0482C16.083 16.9648 17.1766 16.3873 17.4048 15.741C17.6386 15.0948 17.6386 14.5586 17.5698 14.4348C17.502 14.3111 17.3223 14.2423 17.0473 14.1186Z' fill='#AFAFAE')

						+e.phone-text +7 495 924 41 52
				+e.contact-item
					+e.A.email.color-gray(href="mailto:zakaz@sumki-hermes.ru") zakaz@sumki-hermes.ru
