.header {
	font-size: 16rem;
	line-height: 120%;
	font-weight: normal;
	@include large-mobile {
		position: -webkit-sticky;
		position: -moz-sticky;
		position: -ms-sticky;
		position: -o-sticky;
		position: sticky;
		z-index: 200;
		top: 0;
		background: #ECE9E3;
	}
	&__wrap {
		max-width: 1680px;
		padding: 0;

		@include mackbook {
			max-width: inherit;
		}
	}
	&__top {
		padding: 32rem 0;
		border-bottom: 1px solid $black;
		@include mackbook {
			padding-left: 20px;
			padding-right: 20px;
		}

		@include large-mobile {
			padding: 17px 20px;
		}
	}

	&__bottom {
		padding: 15rem 16px;
		border-bottom: 1px solid $black;
		.header {
			&__column {
				&_left, &_right {
					width: 25%;
				}
				&_center {
					width: 50%;
				}
			}
		}
		@include mackbook {
			padding-left: 20px;
			padding-right: 20px;
		}

		@include large-mobile {
			display: none;
		}
	}

	&__row {
		@include large-mobile {
			flex-wrap: nowrap;
		}
	}

	&__column {
		&_left, &_right {
			width: 30%;
		}
		&_center {
			width: 40%;
		}

		@include large-mobile {
			&_left {
				display: none;
			}
			&_center {
				justify-content: flex-start;
				width: auto;
			}
			&_right {
				width: auto;
				justify-content: space-between;
				width: 100%;
			}
		}
	}

	&__logo {
		display: block;
		width: 128rem;

		@include large-mobile {
			width: 100rem;
		}
	}
	.mobile {
		display: none;
		@include large-mobile {
			display: block;
		}
	}
	&__select {
		margin-left: 35rem;

		@include small-tablet {
			margin-top: 3rem;
		}

		@include large-mobile {
			margin-top: 1px;
			margin-left: 5rem;
		}
	}
	&__email {
		@include small-tablet {
			width: 100%;
		}
	}
	&__phone {
		font-weight: normal;
		font-size: 18rem;
		line-height: 120%;
		display: inline-flex;
		align-items: center;
		&-icon {
			margin-right: 8rem;
			width: 20rem;
			height: 20rem;
			margin-top: -3rem;
			svg {
				path {
					fill: #AFAFAE;
					&:nth-child(2) {
						fill: #ECE9E3;
					}
				}
			}
		}

		@include large-mobile {
			display: none;
		}
	}
	&__nav {
		list-style: none;
		&-item {
			margin-top: 3rem;
			margin-bottom: 3rem;
			&:not(:last-child) {
				margin-right: 30rem;
			}
		}
		&-link {
			transition: ease .2s;
			position: relative;
			&.is-active, &:hover {
				.header__nav {
					&-circle {
						opacity: 1;
						margin-top: 6rem;
						visibility: visible;
					}
				}
			}
		}
		&-circle {
			width: 16rem;
			height: 6rem;
			overflow: hidden;
			display: block;
			position: absolute;
			top: 100%;
			margin-top: 2rem;
			left: 50%;
			margin-left: -8rem;
			transition: ease .2s;
			opacity: 0;
			visibility: hidden;
			&:before {
				content: '';
				display: block;
				width: 16rem;
				height: 16rem;
				background: $black;
				border-radius: 100%;
			}
		}

		@include large-mobile {
			font-size: 18rem;
			line-height: 120%;
			&-item {
				&:not(:last-child) {
					margin-right: 0;
					margin-bottom: 24rem;
				}
			}
		}
	}

	&__burger {
		display: none;
		width: 30rem;
		height: 16rem;
		transition: ease .3s;
		position: relative;
		z-index: 2;
		&-line {
			height: 2px;
			background: $black;
			transition: ease .3s;
			&:not(:first-child) {
				margin-top: 6rem;
				&:nth-child(2) {
					margin-left: 6rem;
				}
			}
		}

		&.is-active {
			padding-left: 6rem;
			padding-top: 8rem;
			.header__burger {
				&-line {
					width: 22rem;
					&:nth-child(2) {
						display: none;
					}
					&:first-child {
						transform: rotate(45deg);
					}
					&:last-child {
						margin-top: -2px;
						transform: rotate(-45deg);
					}
				}
			}
		}
		@include large-mobile {
			display: block;
		}
	}
	&__search {
		@include large-mobile {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			transition: ease .2s;
			&.is-active {
				opacity: 1;
				visibility: visible;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: #ECE9E3;
				border-bottom: 1px solid $black;
				z-index: 300;
				padding: 0 20px;
			}
		}
	}
	&__search-btn {
		width: 20rem;
		height: 20rem;
	}

	&__mobile {
		position: absolute;
		top: 100%;
		background: #ECE9E3;
		left: 0;
		top: 100%;
		width: 100%;
		padding: 24rem 20px 60rem 20px;
		height: calc( 100vh - 63rem );
		display: flex;
    	flex-direction: column;
    	transition: ease .3s;
    	opacity: 0;
    	visibility: hidden;
    	&.is-active {
    		opacity: 1;
    		visibility: visible;
    	}
    	&-top {
    		flex: 1 0 auto;
    	}
    	.header__phone {
    		display: inline-flex;
    	}
    	&-bottom {
    		padding-top: 35rem;
    		border-top: 1px solid rgba(27, 27, 27, 0.08);
    	}
	}

	&__contact {
		&-item {
			&:not(:first-child) {
				margin-top: 20rem;
			}
		}
	}
}